body {
    margin: 0;
    background-image: url('./record.png');
    background-repeat: repeat;
  }
  
  .header-class {
    background-color: #2a2727;
    color: #cdc4c4;
    text-align: center;
    padding: 1em;
  }
  
  .main-class {
    background-color: #f7f7f7;
    padding: 1em; 
    
  }